{
  "root": true,
  "extends": [
    "eslint-config-react-typescript/lib/react",
    "plugin:react/jsx-runtime",
    "prettier"
  ],
  "plugins": ["unused-imports", "react-native"],
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "rules": {
    "react-native/split-platform-components": 2,
    "react-native/no-color-literals": 1,
    "react-native/no-raw-text": 0,
    "react-native/no-single-element-style-arrays": 2
  },
  "overrides": [
    {
      "files": ["./tests/e2e/*.ts"],
      "plugins": ["wdio"],
      "extends": ["eslint:recommended", "plugin:wdio/recommended"]
    },
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/no-shadow": ["error"],
        "no-shadow": "off",
        "no-unused-vars": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
          "warn",
          {
            "vars": "all",
            "varsIgnorePattern": "^_",
            "args": "after-used",
            "argsIgnorePattern": "^_"
          }
        ],
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "no-console": [
          "error",
          {
            "allow": ["warn", "error", "debug"]
          }
        ],
        "react/jsx-curly-brace-presence": "error",
        "react/jsx-no-useless-fragment": "error"
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
