{
  "root": true,
  "extends": [
    "eslint-config-react-typescript",
    "prettier"
  ],
  "plugins": [
    "unused-imports",
    "react-native"
  ],
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "rules": {
    "react-native/split-platform-components": 2,
    "react-native/no-color-literals": 1,
    "react-native/no-raw-text": 2,
    "react-native/no-single-element-style-arrays": 2
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/no-shadow": ["error"],
        "no-shadow": "off",
        "no-unused-vars": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
          "warn",
          {
            "vars": "all",
            "varsIgnorePattern": "^_",
            "args": "after-used",
            "argsIgnorePattern": "^_"
          }
        ],
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "no-console": ["error", {
          "allow": ["warn", "error", "debug"]
        }],
        "react-native/no-raw-text": "off"
      }
    }
  ]
}
