@polito-it:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
@fortawesome:registry=https://npm.fontawesome.com
//npm.fontawesome.com/:_authToken=A9727205-213F-409C-A609-C3BB2A331305
