{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "semi": true,
  "importOrder": [
    "^react",
    "^@(?!(?:core|lib|features|utils)/)(.*)$",
    "^\\w",
    "^@core/(.*)$",
    "^@lib/(.*)$",
    "^@features/(.*)$",
    "^@utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
