{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "semi": true,
  "importOrder": ["^react", "^expo", "^\\@", "^\\w", "^[./]"],
  "importOrderSeparation": false
}
