.env
.eslintrc 

node_modules
logs
.idea
screenshoot
fonts
allure-results
allure-report 
tmp 
tests/baseline
.vscode
command.md 
Jenkinsfile
sonar-project.properties
.scannerwork
TODO.txt
interfaces/
/apps/*.apk
tests/actual/
tests/baseline/
.github/workflows/build_android.yml
report/
build_android.yml
screenshots